.hero {
  margin: 40px 0px;
  padding: 20px 40px;

  .title-data {
    display: flex;
    align-items: center;


    h2 {
      font-style: normal;
      font-weight: 700;
      font-size: 30px;
      line-height: 43px;
      color: #FFFFFF;
    }

    .date {
      font-style: normal;
      font-weight: 500;
      font-size: 14px;
      line-height: 20px;
      color: #FFFFFF;
      margin-left: 5px;
      background-color: #181C2E;
      font-weight: 600;
      font-size: 11px;
      line-height: 16px;
      padding: 5px;
      color: #FFFFFF;
      font-weight: 600;
      font-size: 11px;
      line-height: 16px;

      p {
        color: #FFFFFF;
        opacity: 1.9;
        opacity: 0.3;
      }

      .slash {
        font-style: normal;
        font-weight: 600;
        font-size: 11px;
        line-height: 16px;
        color: #FFFFFF;
        opacity: 0.3;
      }
    }
  }

  .data {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-style: normal;
font-weight: 500;
font-size: 24px;
line-height: 35px;
text-align: right;
color: #FFFFFF;

h6 {
  font-style: normal;
font-weight: 500;
font-size: 24px;
line-height: 35px;
text-align: right;
color: #FFFFFF;
margin: 40px 0;
}

.form-info {
  flex-basis: 1;
  display: flex;
  
  .select {
    display: flex;
    flex-direction: column;
    margin: 0px 10px;
    position: relative;
    
    .value {
      width: 200px;
      display: flex;
      background: #1C2031;
border: 1px solid #252B46;
border-radius: 6px;
      padding: 10px;
      cursor: pointer;

      p {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 20px;
color: #C6C7CB;
      }
    }


.select-data {
  display: none;
  position: absolute;
  top: 50px;
  left: 0;
  text-align: left;
  width: 230px;
      background: #1C2031;
border: 1px solid #252B46;
border-radius: 6px;
      padding: 10px;
      font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 20px;
color: #C6C7CB;
      cursor: pointer;

      p {
        width: 100%;
        padding: 7px 0px;
        border-bottom: 1px solid #252B46;
      }
}

.show-data {
  display: flex;
  flex-direction: column;
  align-items: start;
}


  }
}
  }
}